{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/celery_progress.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block spotify %}
<div class="container">
    <div class="wrapper">
        <!-- Big banner text -->
        <div class="">
            <h1 id="big-banner-head" class="big-text">
                Relive a new experience in seconds ...
            </h1>
        </div>
        <!-- Search bar -->
        <div id="input_container" class="flex shadow_custom">
            <form id="input_container" action ="/results/" class="flex shadow_custom" method="POST" value="url">
                 {% csrf_token %}
                <input placeholder="Enter Spotify playlist url." id="input_big" type="text" name="url">
                <button type="submit" class="big-button-text" id="submit_btn">Convert</button>
            <form>
        </div>
        <div class='progress-wrapper'>
            <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
        </div>
        <div id="progress-bar-message"></div>
        <div class ="result" id="celery-result"></div>
    </div>
</div>
{% endblock %}