{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
{% endblock %}

{% block spotify %}
    <div class = "container">
        <div class="wrapper">
            <section class="mainbod">
                <header class="heading">
                    <h1 id="big-banner-head" class="big-text">
                        Remixify
                    </h1>
                    <h6 id="big-banner-head">
                        Convert playlists to remixed versions on Spotify
                    </h6>
                </header>

                <a href="{% provider_login_url 'spotify' process='login' %}" class="btn">
                  <button class="links">
                    Connect with Spotify
                  </button>
                </a>
            </section>
        </div>
    </div>
{% endblock %}