{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
{% endblock %}

{% block spotify %}
    <div class = "container">
        <div class="wrapper">
            <section class="mainbod">
                <header class="heading">
                    <h1 id="big-banner-head" class="big-text">
                        Remixify
                    </h1>
                    <h1 id="big-banner-head">
                        Convert playlists <br> to remixed versions <br> on Spotify
                    </h1>
                </header>
                <div class="links">
                    <a href="{% provider_login_url 'spotify' process='login' %}" class="btn">Connect with Spotify</a>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
