/* COLOR VARIABLES */
:root {
  --main-bg-color: #2941ab;
  --main-color: #1ed75ff2;
  --secondary-color: #117a37;
}

/* BASIC RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Inter", sans-serif;
}

html {
  /*
    10 / 16 = 0.625
    1 rem === 10px 
    1 em === 16px
  */
  font-size: 62.5%;
  /* font-family: "Inter", sans-serif; */
  background: linear-gradient(45deg,var(--secondary-color), var(--main-bg-color), var(--secondary-color));
  color: var(--main-color);
}

body {
  box-sizing: border-box;
  /* rem is always measured relative to the document’s root font-size. */
  /* e.g. padding: 3rem; /* 30px */

  height: 100vh;
}

h1 {
  font-size: 10rem;
}

h4 {
  font-size: 4.5rem;
  margin: 1.5rem;
}

h6, .progress-bar-message, #celery-result {
  font-size: 2rem;
  font-weight: 400;
  margin: 1.5rem;
}

a {
  text-decoration: none;
  outline: none;
 
}

button {
  outline: none;
  /* font-family: "Inter", sans-serif; */
  text-transform: uppercase;
  cursor: pointer;
  
  font-weight: 900;
  padding: 1.5rem;
  border-radius: 15rem;
  border: none;
  
  margin: 6rem 0 0 0;
  color: var(--main-color);
  border: 0.1rem solid var(--main-color);
  background-color: transparent;

}

button:active, button:focus, button:hover {
  outline: none;
  color: var(--main-bg-color);
  border: 0.1rem solid var(--main-bg-color);
  background-color:  var(--main-color);
}


form {
  display: flex;
  flex-direction: column;

  text-align: center;
}

form > button {
  width: max-content;
  align-self: center;
}

input {
  /* font-family: "Inter", sans-serif; */

  margin: 1.5rem;

  padding: 1rem;

  border: none;
  border-bottom: 0.1rem solid var(--main-color);

  outline: none;

  font-size: 2rem;

  background-color: transparent;

  color: var(--main-color);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--main-color);
}


.container {
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.progress-wrapper {
  background-color: var(--secondary-color);
  border-radius: 15rem;
  margin: 3.5rem;
}

.progress-bar {
  background-color: var(--main-color) !important;
  /* width: 48% !important; */
  border-radius: 15rem;
}


@media only screen and (max-width: 36.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 26.85em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 20.85em) {
  html {
    font-size: 35%;
  }

  h1 {
    font-size: 9.5rem;
    margin-bottom: 4rem;
  }

  h4 {
    margin-bottom: 4rem;
  }
  
  h6 {
    font-size: 2.5rem;
  }
}